services:
  snp_automate_2023:
    build:
      context: ../..
      dockerfile: docker/dev/Dockerfile
      args:
        - TAG=humble-0.29
    environment:
      HOME: $HOME
      DISPLAY: $DISPLAY
      XAUTHORITY: $XAUTHORITY
      ROS_LOG_DIR: /tmp/.ros
      ROS_LOCALHOST_ONLY: $ROS_LOCALHOST_ONLY
      ROS_DOMAIN_ID: $ROS_DOMAIN_ID
    container_name: snp_automate_2023_dev
    image: ghcr.io/ros-industrial-consortium/snp_automate_2023:humble-master-dev
    stdin_open: true
    tty: true
    privileged: true
    network_mode: host
    user: ${CURRENT_UID}  # CURRENT_UID=$(id -u):$(id -g)
    group_add:
      - sudo
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /etc/localtime:/etc/localtime:ro
      - /etc/hosts:/etc/hosts
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - /etc/shadow:/etc/shadow:ro
      - /dev:/dev
      - $HOME/snp/meshes:$HOME/snp/meshes
      # Mount .config directory for access to QSettings files
      - $HOME/.config:$HOME/.config
      # Mount local data/config directories
      - ../../launch:/opt/snp_automate_2023/install/snp_automate_2023/share/snp_automate_2023/launch:ro
      - ../../config:/opt/snp_automate_2023/install/snp_automate_2023/share/snp_automate_2023/config:ro
      - ../../calibration:/opt/snp_automate_2023/install/snp_automate_2023/share/snp_automate_2023/calibration:ro
      - ../../urdf:/opt/snp_automate_2023/install/snp_automate_2023/share/snp_automate_2023/urdf:ro

  # Driver
  micro-ros-agent:
    environment:
      ROS_LOG_DIR: /tmp
      ROS_LOCALHOST_ONLY: $ROS_LOCALHOST_ONLY
      ROS_DOMAIN_ID: $ROS_DOMAIN_ID
    container_name: micro-ros-agent
    image: microros/micro-ros-agent:humble
    command: udp4 --port 8888
    stdin_open: true
    tty: true
    network_mode: host
